<form [formGroup]="resourceImportationForm">
    <div class="p-5 bg-danger row rowWidth" [ngClass]="{ 'rtl': isArabic }">
      <div class="d-flex">
        <div class="col-md-2 d-flex align-items-center w-25 me-2">
          <img [src]="resourceImportationForm.get('imgUrl')?.value" alt="Existing Image" class="img-fluid rounded-circle" (click)="fileInput.click()" />
          <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
        </div>
        <div class="col-md-10 d-flex flex-column justify-content-evenly">
          <h5>{{ 'nameofresource' | translate }}</h5>
          <input type="text" class="rounded-3 form-control w-100" formControlName="resourceName" placeholder="{{ 'nameofresource' | translate }}" />
        </div>
      </div>
    </div>
    <div class="row my-5 resourceType">
      <div class="d-flex align-items-center">
        <label>Choice type of Resource</label>
        <mat-radio-group aria-label="Select an option" class="d-flex">
          <mat-radio-button value="1">Book during the day</mat-radio-button>
          <mat-radio-button value="2">Reservation for a period (more than a day)</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </form>
